{% extends "base.html" %}
{% block content %}

<h2>Data page</h2>

<p>Edge list downloads</p>
<p>Not implemented yet</p>

    <div><a href="http://www.google.com">Download the edge lists here!</a></div>

{#{% for monoamine in sorted(ma_to_src_genes) %}#}
{#<h3>{{ monoamine }}</h3>#}
{#<ul>#}
{#    {% for src_gene in ma_to_src_genes[monoamine] %}#}
{#    <li>{{ src_gene }}</li>#}
{#    <ul>#}
{#        {% for expr in src_expr[src_gene] %}#}
{#        <li>expr.node, expr.citation</li>#}
{#        {% endfor %}#}
{#    </ul>#}
{#    {% endfor %}#}
{#</ul>#}
{#{% endfor %}#}

{% endblock %}