{% extends "base.html" %}
{% block content %}

<h2>Monoamine to receptor mappings</h2>

<p>List of monoamines and their receptors</p>

{% for monoamine, receptors in ma_to_receptors|dictsort %}
<h3>{{ monoamine.title() }}</h3>
<ul>
    {% for receptor in receptors %}
    <li>{{ receptor.gene }} -- {{ receptor.wbid }} -- {{ receptor.citation }}</li>
    {% endfor %}
</ul>
{% endfor %}

    <br>

    {% if logged_in %}
    <p>Submit your own (will be moderated)</p>
    <form method="post">
    <label>
        Monoamine:
        <input type="text" name="monoamine" value="{{ monoamine }}">
    </label><br>
        <label>
            Receptor:
            <input type="text" name="receptor" value="{{ receptor }}">
        </label><br>
        <label>
            Citation:
            <input type="text" name="citation" value="{{ citation }}">
        </label>
        <input type="submit">
    <div class="error">{{ error | safe }}</div>
    </form>
    {% else %}
    <p>Please log in to submit your own</p>
    {% endif %}

{% endblock %}