{% extends "base.html" %}
{% block content %}

<h2>Welcome to WormChem</h2>

<p>This is a blurb. Something something, crowd-curated home of monoamine and neuropeptide connections in <i>C. elegans</i>.</p>

<ul>
    <li><a href="/srcexpression">Source gene expression</a></li>
    <li><a href="/tgtexpression">Target gene expression</a></li>
    <li><a href="/monoaminetoreceptor">Monoamine to receptor mappings</a></li>
    <li><a href="/data">Download edge lists</a></li>
    <br><br>
    <li><a href="/signup">Sign up</a></li>
    <li><a href="/login">Login</a></li>
</ul>

{% endblock %}